html {
    background-color: #181727;
    display: grid;
}

.body {
    background-color: #0D0B0C !important;
    display: block;
    width: 100%;
    max-width: 375px;
    margin: 0px auto;
}

header,
main,
footer {
    display: block;
    width: 100%;
    max-width: 375px;
    margin: 0px auto;
}

.menu {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 375px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #089B99;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
}

.news_carousel_mobile {
    width: 375px;
    height: 423px;
}

.news_carousel {
    display: none;
}

.news_carousel_mobile .carousel_news {
    width: 363px;
    height: 137px;
    position: absolute;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 220px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.news_carousel_mobile .carousel_text {
    width: 363px;
    height: 137px;
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #E5E5E5;
    margin-top: 273px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.carousel-indicators li {
    width: 50px !important;
    height: 6px !important;
    background-color: #089B99 !important;
    margin-left: 20px !important;
}

.carousel-indicators .active {
    opacity: 1;
}