footer {
    background: rgba(8, 155, 153, 0.2);
    width: 100%;
    height: 192px;
}

.footer_text_part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_text {
    padding-top: 30px;
    position: relative;
    width: 93px;
    height: 43px;
    font-family: Bebas Neue;
    margin-top: 17px;
    font-size: 36px;
    font-style: normal;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

.footer_text text {
    color: #089B99;
}

.links {
    width: 557px;
    height: 29px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.links a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-left: 0px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding-right: 10px;
}

.links a:hover {
    text-decoration: none;
    color: brown;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.footer_link {
    width: 39px;
    height: 19px;
    padding: 30px;
}

.networks_footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding-top: 30px;
    width: 90px;
    height: 20px;
}

.networks_footer a {
    margin: 5px;
}