.header_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 113px;
    margin: 0px auto;
    background: url("/img/Line1.png") no-repeat center;
}

.header {
    display: none;
}

.menu {
    display: none;
}

.header_text_part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_text {
    padding-left: 49px;
    position: relative;
    width: 93px;
    height: 43px;
    font-family: Bebas Neue;
    margin-top: 17px;
    font-size: 36px;
    font-style: normal;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

.header_text text {
    color: #089B99;
}

.for_bottom {
    display: flex;
    position: absolute;
    width: 35px;
    cursor: pointer;
    z-index: 1;
    margin-top: 4px;
}

.for_bottom>span,
.for_bottom>span::before,
.for_bottom>span::after {
    margin-left: -45px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #089B99;
}

.for_bottom>span::before {
    content: "";
    top: -8px;
    left: 45px;
}

.for_bottom>span::after {
    content: "";
    top: 8px;
    left: 45px;
}

.list_of_links {
    display: block;
    position: absolute;
    visibility: hidden;
    left: -100%;
    width: 375px;
    margin: 0px auto;
    padding: 80px 0;
    list-style: none;
    background-color: #2c1b1b9a;
}

.header_links_mobile {
    display: block;
    padding: 12px 24px;
    color: #00885b;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.links:hover img {
    background-color: #0d8196;
}

#toggle:checked~.for_bottom>span {
    transform: rotate(45deg);
}

#toggle:checked~.for_bottom>span::before {
    top: 0;
    transform: rotate(0);
}

#toggle:checked~.for_bottom>span::after {
    top: 0;
    transform: rotate(90deg);
}

#toggle:checked~.list_of_links {
    visibility: visible;
    left: 0;
    margin-left: 973px;
    margin-top: 62px;
}

.list_of_links {
    margin: 0px;
    padding: 0px;
}

.ul_in_line {
    list-style: none;
    display: inline;
    padding-right: 15px;
}

.ul_in_line img:hover {
    border: solid 1px bisque;
}

.position_right {
    position: relative;
    left: 88px;
    top: 12px;
}